*{
    margin: 0;
    padding: 0;
}

body{
      font-family: "Gabarito", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
}
.navbar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: solid black 1px;  
    align-items: center;
}

.navbar__s1__title{
    color: rgba(98, 14, 176, 0.866);
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    width: 60%;
    font-size: 16px;
    align-items: center;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;

    align-items: center;
}

.categries{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;

}

.categries p{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.sale-image img{
    width: 100%;
}

.recommended{
    padding: 20px;
}

.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;

}

.course-card{
    width: 260px;
    
    

}
.course-card img{
    width: 100%;


}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

}

.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}

.popular__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    

}

.footer{
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.footer__1{
    display: flex;
    gap: 10px;

}

.footer__1 p{
    margin: 20px;
}

.footer__2{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    }